*.log
.*
!.github
!.gitignore
!.npmignore
!.dockerignore
!.browserlistrc
!.eslintrc
!.*.yml
node_modules
test/output/**/*
/**/*.old
test/package-lock.json
build/package-lock.json
*.cast
*.tar.gz
_BACKUP
