*.log
.*
_*
!.github
!.gitignore
!.npmignore
!.dockerignore
!.browserslistrc
!.eslintrc
!.*.yml
node_modules
test/output/**/*
test/*.txt
/**/*.old
test/package-lock.json
build/package-lock.json
*.cast
*.tar.gz
_BACKUP
